<h1>Create a New Todo</h1>

<% if @todo.errors.any? %>
  <h5>The following error(s) prevented the task from being saved:</h5>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<div class="">
  <%= form_for @todo do |f| %>
    <p>
      <%= f.text_field :name, placeholder: "Task Name" %>
    </p>
    <p>
      <%= f.text_area :description, size: "60x12", placeholder: "Task Description" %>
    </p>
    <p>
      <%= f.submit "Create Task" %>
    </p>
  <% end %>
</div>
